<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우리은행</title>
    <link rel="stylesheet" href="css/common_layout.css"/>
    <link rel="stylesheet" href="css/main_layout.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <script src="js/html5div.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/common.js"></script>

</head>
<body onload="ddaycount()">
<div class="top_hidden_menu">
    <div class="hidden_menu">
        <div class="util_menu">
            <div class="hidden">상단 툴</div>
            <div>
                <ul id="zoom">
                    <li><img src="images/util_zoom_1.gif" alt="화면크기" title="화면크기"/></li>
                    <li><a href="zoom_in" tabindex="1"><img src="images/util_zoom_2.gif" alt="확대" title="확대"/></a></li>
                    <li><a href="zoom_return" tabindex="2"><img src="images/util_zoom_3.gif" alt="원화면으로" title="원화면으로"/></a></li>
                    <li><a href="zoom_out" tabindex="3"><img src="images/util_zoom_4.gif" alt="화면축소" title="화면축소"/></a></li>
                </ul>
                <div><a href="#" class="print_btn" tabindex="4"><img src="images/util_print.gif" alt="프린터" title="화면프린터"/></a></div>
            </div>
            <form action="#" method="get" name="sch_f" id="sch_f">
                <fieldset>
                    <legend>검색폼</legend>
                    <p>
                        <input type="text" name="keyword" id="keyword" title="검색어입력" />
                        <input type="image" src="images/inner_search_icon.png" class="sch_btn" alt="검색" title="검색"/>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="top_pop_btn">
        <p class="btn_popup">
        </p>
    </div>
</div>
<div class="popup_bg" title="팝업창">
    <div class="popup">
        <p class="popup_title">"우리은행과 함께합시다." 금융상품 안내</p>
        <div class="content_text_inner">금융상품을 안내해드립니다.<br/>
            우리은행의 새로운 주식형 펀드, 우리스마트주식펀드를 소개합니다. 이 펀드는 우수한 주식전문가들이<br/>
            선정한 우량주를 투자대상으로 하여 고객님의 자산을 안정적으로 성장시켜 드립니다.</div>
        <ul class="popup_list_outer">
            <li>
                <span>우리스마트주식펀드는 다음과 같은 장점과 혜택이 있습니다.</span><br/>
            </li>
        </ul>
        <ul class="text_list">
            <li class="popup_list">시장 변동성에 민감하지 않은 우량주로 구성되어 있어 장기적인 수익률이 높습니다.</li>
            <li class="popup_list">우리은행의 전문가들이 실시간으로 펀드 운용 상황을 모니터링하고 최적화합니다.</li>
            <li class="popup_list">펀드 가입 시 수수료가 없으며, 해지 시에도 최대 1%의 수수료만 부과됩니다.</li>
            <li class="popup_list">펀드 가입자에게는 매월 우리은행의 다양한 혜택과 이벤트에 참여할 수 있는 기회가 제공됩니다.<br/></li>
            <li class="popup_sub">우리스마트주식펀드에 가입하시려면 우리은행 홈페이지나 모바일 앱에서 간편하게 신청하실 수 있습니다.<br/>
                또한, 가까운 우리은행 지점에 방문하셔도 됩니다. 문의사항이 있으시면 언제든지 고객센터로 연락주시기 바랍니다.</li>
        </ul>
        <button class="close_btn fl_right" title="닫기">닫기</button>
        <label class="jquery_cookie fl_right"><input class="fl" type="checkbox" title="1일간 열지 않기"/> 1일동안 열지않기</label>
    </div>
</div>
<div id="wrap">
    <header id="header">
        <div class="header_top">
            <div class="header_area top clear">
                <div>
                    <h1 class="main_logo"><a href="index.html" tabindex="5"><img src="images/logo.png" alt="우리은행" title="우리은행"/></a></h1>

                    <div class="form_fo"><a href="#none" tabindex="6">
                        <img src="images/login_form_button.png" alt="로그인" title="로그인"/>
                        <span title="로그인">로그인</span></a>
                        <div class="menu">
                            <a href="sub1/sub1.html" class="left" title="개인" tabindex="6">개인</a>
                            <a href="sub1/sub1.html" class="right" title="기업" tabindex="7">기업</a>
                        </div>
                    </div>
                    <div class="form_fo2"><a href="#none" tabindex="8">
                        <img src="images/form2_center.png" alt="인증센터" title="인증센터"/>
                        <span title="인증센터">인증센터</span></a>
                        <div class="menu">
                            <a href="sub1/sub1.html" class="left" title="개인" tabindex="9">개인</a>
                            <a href="sub1/sub1.html" class="right" title="기업" tabindex="10">기업</a>
                        </div>
                    </div>
                </div>
                <div id="mainNav" class="clear">
                    <div id="total_Nav">
                        <ul id="Nav">
                            <li class="sub1 clear On_01"><a href="sub1/sub1.html" title="개인" tabindex="11">개인</a>
                                <ul class="subNav1">
                                    <li><a href="sub1/sub1.html" title="개인뱅킹" tabindex="12">개인뱅킹</a></li>
                                    <li><a href="sub1/sub1.html" title="조회" tabindex="13">조회</a></li>
                                    <li><a href="sub1/sub1.html" title="이체" tabindex="14">이체</a></li>
                                    <li><a href="sub1/sub1.html" title="오픈뱅킹" tabindex="15">오픈뱅킹</a></li>
                                    <li><a href="sub1/sub1.html" title="공과금" tabindex="16">공과금</a></li>
                                    <li><a href="sub1/sub1.html" title="예금/신탁" tabindex="17">예금/신탁</a></li>
                                    <li><a href="sub1/sub1.html" title="펀드" tabindex="18">펀드</a></li>
                                    <li><a href="sub1/sub1.html" title="보험" tabindex="19">보험</a></li>
                                    <li><a href="sub1/sub1.html" title="대출" tabindex="20">대출</a></li>
                                    <li><a href="sub1/sub1.html" title="외환/골드" tabindex="21">외환/골드</a></li>
                                    <li><a href="sub1/sub1.html" title="퇴직연금" tabindex="22">퇴직연금</a></li>
                                    <li><a href="sub1/sub1.html" title="뱅킹관리" tabindex="23">뱅킹관리</a></li>
                                    <li><a href="sub1/sub1.html" title="ISA" tabindex="24">ISA</a></li>
                                </ul>
                            </li>
                            <li class="sub2 clear"><a href="sub2/sub2.html" title="기업" tabindex="25">기업</a>
                                <ul class="subNav2">
                                    <li><a href="sub2/sub2.html" title="기업뱅킹" tabindex="26">기업뱅킹</a></li>
                                    <li><a href="sub2/sub2.html" title="조회" tabindex="27">조회</a></li>
                                    <li><a href="sub2/sub2.html" title="이체" tabindex="28">이체</a></li>
                                    <li><a href="sub2/sub2.html" title="공과금" tabindex="29">공과금</a></li>
                                    <li><a href="sub2/sub2.html" title="전자결제" tabindex="30">전자결제</a></li>
                                    <li><a href="sub2/sub2.html" title="수표어음" tabindex="31">수표어음</a></li>
                                    <li><a href="sub2/sub2.html" title="자금관리" tabindex="32">자금관리</a></li>
                                    <li><a href="sub2/sub2.html" title="예금/신탁" tabindex="33">예금/신탁</a></li>
                                    <li><a href="sub2/sub2.html" title="대출" tabindex="34">대출</a></li>
                                    <li><a href="sub2/sub2.html" title="펀드/보험" tabindex="35">펀드/보험</a></li>
                                    <li><a href="sub2/sub2.html" title="외환" tabindex="36">외환</a></li>
                                    <li><a href="sub2/sub2.html" title="퇴직연금" tabindex="37">퇴직연금</a></li>
                                    <li><a href="sub2/sub2.html" title="뱅킹관리" tabindex="38">뱅킹관리</a></li>
                                </ul>
                            </li>

                            <li class="clear"><a href="index.html" title="마이데이터" tabindex="39">마이데이터</a></li>

                            <li class="sub4 clear"><a href="#" title="자산관리" tabindex="40">자산관리</a>
                                <ul class="subNav4">
                                    <li><a href="sub3/sub3.html" title="MY자산 진단" tabindex="41">MY자산 진단</a></li>
                                    <li><a href="sub3/sub3.html" title="펀드 포트폴리오" tabindex="42">펀드 포트폴리오</a></li>
                                    <li><a href="sub3/sub3.html" title="퇴직연금 포트폴리오" tabindex="43">퇴직연금 포트폴리오</a></li>
                                    <li><a href="sub3/sub3.html" title="WON챌린지" tabindex="44">WON챌린지</a></li>
                                    <li><a href="sub3/sub3.html" title="미래설계" tabindex="45">미래설계</a></li>
                                </ul>
                            </li>
                            <li class="sub5 clear"><a href="#" title="금융상품" tabindex="46">금융상품</a>
                                <ul class="subNav5">
                                    <li><a href="sub3/sub3.html" title="추천상품" tabindex="47">추천상품</a></li>
                                    <li><a href="sub3/sub3.html" title="예금" tabindex="48">예금</a></li>
                                    <li><a href="sub3/sub3.html" title="펀드" tabindex="49">펀드</a></li>
                                    <li><a href="sub3/sub3.html" title="대출" tabindex="50">대출</a></li>
                                    <li><a href="sub3/sub3.html" title="외환" tabindex="51">외환</a></li>
                                    <li><a href="sub3/sub3.html" title="골드" tabindex="52">골드</a></li>
                                    <li><a href="sub3/sub3.html" title="신탁" tabindex="53">신탁</a></li>
                                    <li><a href="sub3/sub3.html" title="보험" tabindex="54">보험</a></li>
                                    <li><a href="sub3/sub3.html" title="퇴직연금" tabindex="55">퇴직연금</a></li>
                                    <li><a href="sub3/sub3.html" title="ISA" tabindex="56">ISA</a></li>
                                </ul>
                            </li>
                            <li class="sub7 clear"><a href="sub3/sub3.html" title="카드" tabindex="57">카드</a>
                                <ul class="subNav3">
                                    <li><a href="sub3/sub3.html" title="우리카드" tabindex="58">우리카드</a></li>
                                    <li><a href="sub3/sub3.html" title="롯데카드" tabindex="59">롯데카드</a></li>
                                </ul>
                            </li>
                        </ul>
                        <p class="total_btn">
                            <a href="#" title="전체메뉴보기" tabindex="60"><img src="images/btn_all_menu.png" alt="total 메뉴 보기"/>전체메뉴보기</a>
                        </p>
                    </div>
                    <div class="total_menu">
                        <div class="total_menu_inner">
                            <dl>
                                <dt>개인</dt>
                                <dd>
                                    <ul>
                                        <li><a href="#" title="개인뱅킹" tabindex="61">개인뱅킹</a></li>
                                        <li><a href="#" title="조회" tabindex="62">조회</a></li>
                                        <li><a href="#" title="이체" tabindex="63">이체</a></li>
                                        <li><a href="#" title="오픈뱅킹" tabindex="64">오픈뱅킹</a></li>
                                        <li><a href="#" title="공과금" tabindex="65">공과금</a></li>
                                        <li><a href="#" title="예금/신탁" tabindex="66">예금/신탁</a></li>
                                        <li><a href="#" title="펀드" tabindex="67">펀드</a></li>
                                        <li><a href="#" title="보험" tabindex="68">보험</a></li>
                                        <li><a href="#" title="대출" tabindex="69">대출</a></li>
                                        <li><a href="#" title="외환/골드" tabindex="70">외환/골드</a></li>
                                        <li><a href="#" title="퇴직연금" tabindex="71">퇴직연금</a></li>
                                        <li><a href="#" title="뱅킹관리" tabindex="72">뱅킹관리</a></li>
                                        <li><a href="#" title="ISA" tabindex="73">ISA</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>기업</dt>
                                <dd>
                                    <ul>
                                        <li><a href="#" title="기업뱅킹" tabindex="74">기업뱅킹</a></li>
                                        <li><a href="#" title="조회" tabindex="75">조회</a></li>
                                        <li><a href="#" title="이체" tabindex="76">이체</a></li>
                                        <li><a href="#" title="공과금" tabindex="77">공과금</a></li>
                                        <li><a href="#" title="전자결제" tabindex="78">전자결제</a></li>
                                        <li><a href="#" title="수표어음" tabindex="79">수표어음</a></li>
                                        <li><a href="#" title="자금관리" tabindex="80">자금관리</a></li>
                                        <li><a href="#" title="예금/신탁" tabindex="81">예금/신탁</a></li>
                                        <li><a href="#" title="대출" tabindex="82">대출</a></li>
                                        <li><a href="#" title="펀드/보험" tabindex="83">펀드/보험</a></li>
                                        <li><a href="#" title="외환" tabindex="84">외환</a></li>
                                        <li><a href="#" title="퇴직연금" tabindex="85">퇴직연금</a></li>
                                        <li><a href="#" title="뱅킹관리" tabindex="86">뱅킹관리</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>마이데이터</dt>
                                <dd>
                                    <ul>
                                        <li><a href="#" class="none" tabindex="87">마이데이터</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>자산관리</dt>
                                <dd>
                                    <ul>
                                        <li><a href="#" title="My자산 진단" tabindex="88">MY자산 진단</a></li>
                                        <li><a href="#" title="펀드 포트폴리오" tabindex="89">펀드 포트폴리오</a></li>
                                        <li><a href="#" title="퇴직연금 포트폴리오" tabindex="90">퇴직연금 포트폴리오</a></li>
                                        <li><a href="#" title="WON챌린지" tabindex="91">WON챌린지</a></li>
                                        <li><a href="#" title="미래설계" tabindex="92">미래설계</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>금융상품</dt>
                                <dd>
                                    <ul>
                                        <li><a href="#" title="추천상품" tabindex="93">추천상품</a></li>
                                        <li><a href="#" title="예금" tabindex="94">예금</a></li>
                                        <li><a href="#" title="펀드" tabindex="95">펀드</a></li>
                                        <li><a href="#" title="대출" tabindex="96">대출</a></li>
                                        <li><a href="#" title="외환" tabindex="97">외환</a></li>
                                        <li><a href="#" title="골드" tabindex="98">골드</a></li>
                                        <li><a href="#" title="신탁" tabindex="99">신탁</a></li>
                                        <li><a href="#" title="보험" tabindex="100">보험</a></li>
                                        <li><a href="#" title="퇴직연금" tabindex="101">퇴직연금</a></li>
                                        <li><a href="#" title="ISA" tabindex="102">ISA</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>카드</dt>
                                <dd>
                                    <ul>
                                        <li><a href="#" title="우리카드" tabindex="103">우리카드</a></li>
                                        <li><a href="#" title="롯데카드" tabindex="104">롯데카드</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="main" class="clear">
        <div class="main_slide_outer">
            <div class="main_slide_bg">
                <div class="slide_control_outer">
                    <div class="control_panel clear">
                        <div class="control_btns clear fl">
                            <div class="control_button active fl"></div>
                            <div class="control_button fl"></div>
                            <div class="control_button fl"></div>
                            <div class="control_button fl"></div>
                        </div>
                        <div class="main_header_img_control_left_btn fl_right" title="왼쪽 버튼"></div>
                        <div class="main_header_img_control_right_btn fl_right" title="오른쪽 버튼"></div>
                        <div class="main_header_img_play_btn fl_right" title="시작 버튼"></div>
                    </div>
                </div>
                <div class="slider_img_panel">
                    <div class="slide_start clear">
                        <div class="slider_text_imgage">
                            <a href="#" tabindex="105">
                                <div class="img_slide">
                                    <img src="images/main_header_img/house.png" class="slider_image" alt="슬라이드 광고 이미지1"/>
                                </div>
                                <span>비정상거처 이주지원 버팀목대출 안내 주거취약계층의 이주를 지원하여 희망을 밝혀드립니다!</span>
                            </a>
                        </div>
                        <div class="slider_text_imgage">
                            <a href="#" tabindex="106">
                                <div class="img_slide">
                                    <img src="images/main_header_img/partnership_3.png" class="slider_image" alt="슬라이드 광고 이미지2"/>
                                </div>
                                <span>WON Partnership 우리은행과 함께할 WON파트너를 기다립니다.</span>
                            </a>
                        </div>
                        <div class="slider_text_imgage">
                            <a href="#" tabindex="107">
                                <div class="img_slide">
                                    <img src="images/main_header_img/mydata_0.jpg" class="slider_image" alt="슬라이드 광고 이미지3"/>
                                </div>
                                <span>나의 데이터가 가치가 되는 새로운 경험</span>
                            </a>
                        </div>
                        <div class="slider_text_imgage">
                            <a href="#" tabindex="108">
                                <div class="img_slide">
                                    <img src="images/main_header_img/won.png" class="slider_image" alt="슬라이드 광고 이미지4"/>
                                </div>
                                <span>우리WON뱅킹 기업 기업금융을 스마트폰으로 언제 어디서나 편리하게</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login_top">
            <div id="tnb" class="clear">
                <div id="ol_before" class="tnb-login fl">
                    <form name="foutlogin" method="post">
                        <fieldset>
                            <label for="ol_id" id="ol_idlabel"><strong class="sound_only" >회원아이디 필수</strong></label>
                            <input type="text" id="ol_id" name="mb_id" required class="required" maxlength="20" placeholder="아이디">
                            <label for="ol_pw" id="ol_pwlabel"><strong class="sound_only">비밀번호 필수</strong></label>
                            <input type="password" id="ol_pw" name="mb_password" required class="required" maxlength="20" placeholder="비밀번호">
                            <input type="submit" id="ol_submit" value="로그인">
                            <div id="ol_auto">
                                <input type="checkbox" name="auto_login" id="login_auto_login">
                                <label for="login_auto_login" class="login_auto" title="자동로그인">자동로그인</label>
                            </div>
                            <div id="ol_svc">
                                <a href="#no" title="회원가입" tabindex="109"><b>회원가입</b></a>
                                <a href="#no" id="ol_password_lost" title="정보찾기" tabindex="110">정보찾기</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="login_content fl clear">
                    <a class="login_anchor fl" href="sub1/sub1.html" tabindex="111">
                        <div class="login_area">
                            <img src="images/login/login_01.png" alt="뱅킹 로그인" title="뱅킹 로그인"/>
                        </div>
                        <span title="뱅킹로그인">뱅킹로그인</span>
                    </a>
                    <a class="login_anchor fl" href="sub2/sub2.html" tabindex="112">
                        <div class="login_area">
                            <img src="images/login/login_02.png" alt="뱅킹 로그인" title="Q&A게시판"/>
                        </div>
                        <span title="Q&A게시판">Q&A게시판</span>
                    </a>
                    <a class="login_anchor fl" href="sub3/sub3.html" tabindex="113">
                        <div class="login_area">
                            <img src="images/login/login_03.png" alt="일반 게시판" title="일반 게시판"/>
                        </div>
                        <span title="일반 게시판">일반 게시판</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- 중앙 메뉴들 -->
        <div class="mid_content_menu" id="mid_content_menu">
            <ul class="menu_Specify_Zoning">
                <li class="color_no1"><a href="sub1/sub1.html" title="다른금융 정보조회" tabindex="114">다른금융<br/>정보조회</a></li>
                <li class="color_no2"><a href="sub1/sub1.html" title="조회" tabindex="115">조회</a></li>
                <li class="color_no2"><a href="sub1/sub1.html" title="이체" tabindex="116">이체</a></li>
                <li class="color_no2"><a href="sub2/sub2.html" title="환율" tabindex="117">환율</a></li>
                <li class="Specify_Zoning_Q">
                    <a href="#none" id="Q_botton_toggle" title="빠른메뉴" tabindex="118">빠른메뉴<span class="Q_botton"></span></a>
                </li>
            </ul>
        </div>
        <div class="add_menu_list">
            <ul class="submenu">
                <li><a href="sub3/sub3.html" title="금융 소비자 보호" tabindex="119">금융 소비자 보호</a></li>
                <li><a href="sub3/sub3.html" title="보안 뉴스" tabindex="120">보안 뉴스</a></li>
                <li><a href="sub3/sub3.html" title="상품/약관 공시" tabindex="121">상품/약관 공시</a></li>
            </ul>
        </div>
        <!--/* 문제풀이 */-->
        <h1>문제 풀이 애플리케이션</h1>
        <h3 th:text="${title}">제목</h3>
        <!--/* 등록/변경 완료 메시지 */-->
        <p th:if="${complete}" th:text="${complete}" style="color:blue"></p>
        <!--등록과 변경 처리를 분리-->
        <form method="POST" th:action="${testForm.newTest}? @{/test/insert} : @{/test/update}" th:object="${testForm}">
            <!--th:field 속성에 '*{필드명}'을 지정-->
            <label>퀴즈 내용: </label><br>
            <textarea rows="5" cols="50" th:field="*{question}"></textarea>
            <br>
            <div th:if="${#fields.hasErrors('question')}" th:errors="*{question}"
                 style="color:red"></div>
            <label>퀴즈 정답: </label><br>
            <input type="radio" value="true" th:field="*{answer}" > O
            <input type="radio" value="false" th:field="*{answer}" > X
            <br>
            <div th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"
                 style="color:red"></div>
            <label>작성자: </label><br>
            <input type="text" th:field="*{author}" />
            <br>
            <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                 style="color:red"></div>
            <input th:if="${id}" type="hidden" th:field="*{id}" >
            <input type="submit" value="저장">
        </form>
        <br>
        <!--여기까지가 상단 영역 부분-->

        <hr><!--신규등록인 경우만 보임-->
        <div th:if="${testForm.newTest}" style="margin: 10px">
            <h3>등록된 퀴즈 목록 <a th:href="@{/test/play}">플레이</a><br></h3>
            <!--/* 삭제 완료 메시지 */-->
            <p th:if="${delcomplete}" th:text="${delcomplete}" style="color:blue"></p>
            <p th:if="${msg}" th:text="${msg}" style="color:red"></p>
            <!--퀴즈 정보가 있으면 보임-->
            <table border="1" th:unless="${#lists.isEmpty(list)}"
                   style="table-layout: fixed;">
                <tr>
                    <th>ID</th>
                    <th>내용</th>
                    <th>해답</th>
                    <th>작성자</th>
                    <th>변경</th>
                    <th>삭제</th>
                </tr>
                <tr th:each="obj : ${list}" align="center">
                    <td th:text="${obj.id}"></td>
                    <td th:text="${obj.question}" align="left"></td>
                    <td th:text="${obj.answer} == true?'O':'X'"></td>
                    <td th:text="${obj.author}"></td>
                    <!--/* 변경 버튼 */-->
                    <td>
                        <form method="GET" th:action="@{/test/{id}(id=${obj.id})}">
                            <input type="submit" value="변경">
                        </form>
                    </td>
                    <!--/* 삭제 버튼 */-->
                    <td>
                        <form method="POST" th:action="@{/test/delete}">
                            <input type="hidden" name="id" th:value="${obj.id}">
                            <input type="submit" value="삭제">
                        </form>
                    </td>
                </tr>
            </table>
            <!--퀴즈 정보가 있으면 보임-->
            <p th:if="${#lists.isEmpty(list)}">등록된 퀴즈가 없습니다.</p>
        </div><!--신규등록인 경우만 보임-->

        <p th:unless="${testForm.newTest}">
            <a href="#" th:href="@{/test}">CRUD 화면에 돌아가기</a>
        </p>
        <!-- 금융상품 소개하는 플렛폼 -->
        <div id="content_area" class="clear">
            <h3 class="hidden">금융상품 & 카드</h3>
            <div id="main_cent_pd" class="clear fl">
                <div class="ALL_content_title clear">
                    <div class="main_cent_one_pd fl">금융상품</div>
                    <a href="#" class="main_serv_one_line_more" tabindex="122"><span class="more_text fl_right">펼치기</span></a>
                </div>
                <div class="main_img_outer clear">
                    <div class="main_service_image_box fl">
                        <div class="main_serv_image_line clear">
                            <a href="#" title="예금" tabindex="123">
                                <div class="image_outer">
                                    <img src="images/icon_set_011.png" alt="예금" title="예금"/>
                                </div>
                                <span>예금</span>
                            </a>
                            <a href="#" title="대출" tabindex="124">
                                <div class="image_outer">
                                    <img src="images/icon_set_022.png" alt="대출" title="대출"/>
                                </div>
                                <span>대출</span>
                            </a>
                            <a href="#" title="펀드" tabindex="125">
                                <div class="image_outer">
                                    <img src="images/icon_set_033.png" alt="펀드" title="펀드"/>
                                </div>
                                <span>펀드</span>
                            </a>
                            <a href="#" title="외환" tabindex="126">
                                <div class="image_outer">
                                    <img src="images/icon_set_044.png" alt="외환" title="외환"/>
                                </div>
                                <span>외환</span>
                            </a>
                            <a href="#" title="신탁" tabindex="127">
                                <div class="image_outer">
                                    <img src="images/icon_set_055.png" alt="신탁" title="신탁"/>
                                </div>
                                <span>신탁</span>
                            </a>
                            <a href="#" title="퇴직연금" tabindex="128">
                                <div class="image_outer">
                                    <img src="images/icon_set_066.png" alt="퇴직연금" title="퇴직연금"/>
                                </div>
                                <span>퇴직연금</span>
                            </a>
                            <a href="#" title="보험" tabindex="129">
                                <div class="image_outer">
                                    <img src="images/icon_set_077.png" alt="보험" title="보험"/>
                                </div>
                                <span>보험</span>
                            </a>
                            <a href="#" title="ISA" tabindex="130">
                                <div class="image_outer">
                                    <img src="images/icon_set_088.png" alt="ISA" title="ISA"/>
                                </div>
                                <span>ISA</span>
                            </a>
                        </div>
                    </div>
                    <div class="main_service_image_box fl_right">
                        <div class="main_serv_image_line clear fl_right">
                            <a href="#" title="카드신청" tabindex="131">
                                <div class="image_outer">
                                    <img src="images/icon_set_099.png" alt="카드신청" title="카드신청"/>
                                </div>
                                <span>카드신청</span>
                            </a>
                            <a href="#" title="나의카드" tabindex="132">
                                <div class="image_outer">
                                    <img src="images/icon_set_01010.png" alt="나의카드" title="나의카드"/>
                                </div>
                                <span>나의카드</span>
                            </a>
                            <a href="#" title="이벤트" tabindex="133">
                                <div class="image_outer">
                                    <img src="images/icon_set_01111.png" alt="이벤트" title="이벤트"/>
                                </div>
                                <span>이벤트</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 펀드 혜택 기간까지 남은 시간 -->
            <div class="dday_and_weather clear">
                <div id="dday_contents_box" class="fl_right">
                    <div class="ALL_content_title2 clear">
                        <div class="main_cent_one_pd fl">가입서비스</div>
                    </div>
                    <div class="dday_content clear">
                        <div class="dday_title_box fl_right">
                            <span class="dday_sub_title">우리스마트주식펀드에서</span>
                            <span class="dday_title">고객님<span class="dday_strong">만을 위한 펀드 </span>이벤트를 진행합니다</span>
                            <span class="dday_sub"><span class="dday_name">고객님의</span> 펀드 이벤트 종료일까지 남은시간:</span>
                        </div>
                        <div class="number_box fl clear cl">
                            <div class="day_box clear fl">
                                <img class="day_num" id="day1" src="images/event/num0.gif" alt="숫자 0"/>
                                <img class="day_num" id="day10" src="images/event/num0.gif" alt="숫자 0"/>
                                <img class="day_num" id="day100" src="images/event/num0.gif" alt="숫자 0"/>
                            </div>
                            <div class="hour_box clear fl">
                                <img class="time_num" id="hour1" src="images/event/num0.gif" alt="숫자 0"/>
                                <img class="time_num" id="hour10" src="images/event/num0.gif" alt="숫자 0"/>
                            </div>
                            <div class="min_box clear fl">
                                <img class="time_num" id="min1" src="images/event/num0.gif" alt="숫자 0"/>
                                <img class="time_num" id="min10" src="images/event/num0.gif" alt="숫자 0"/>
                            </div>
                            <div class="sec_box clear fl">
                                <img class="time_num" id="sec1" src="images/event/num0.gif" alt="숫자 0"/>
                                <img class="time_num" id="sec10" src="images/event/num0.gif" alt="숫자 0"/>
                            </div>
                            <div class="unit_box cl clear">
                                <span class="day_text fl">DAYS</span>
                                <span class="hour_text fl">HRS</span>
                                <span class="min_text fl">MINS</span>
                                <span class="sec_text fl">SECS</span>
                            </div>
                        </div>
                        <div id="countment" class="clear fl"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 서비스 몇 컨텐츠 제작 구간 -->
        <div id="product_service" class="clear">
            <h3 class="hidden">서비스 & 날씨</h3>
            <div id="main_product_servuce_pd">
                <div class="ALL_content_title2 clear">
                    <div class="main_cent_one_pd fl">서비스</div>
                    <a href="#" class="main_serv_one_line_more2" tabindex="134"><span class="more_text2 fl_right">펼치기</span></a>
                </div>
                <div class="main_img_outer2">
                    <ul class="mt25">
                        <li class="main_serv_image_line2 fl_right clear">
                            <div class="main_product_service_image_box clear">
                                <a href="#" title="우리은행뱅킹 바로가기" tabindex="135">
                                    <div class="product_service_menu1">
                                        <div class="img_Come_on mb20"></div>
                                        <div class="font_21 mb30 bold">우리WON뱅킹</div>
                                        <p class="font_16">새 시대의 금융을 켜다,<br/>우리은행 대표 모바일뱅킹 APP</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class= "main_serv_image_line2 fl_right clear">
                            <div class="main_product_service_image_box clear">
                                <a href="#" title="마이데이터" tabindex="136">
                                    <div class="product_service_menu2">
                                        <div class="img_Come_on mb20"></div>
                                        <div class="font_21 mb30 bold">마이데이터</div>
                                        <p class="font_16">나의 데이터가 가치가 되는<br/>새로운 경험을 체험해 보세요</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="main_serv_image_line2 fl_right clear">
                            <div class="main_product_service_image_box clear">
                                <a href="#" title="스마트간편신규 바로가기" tabindex="137">
                                    <div class="product_service_menu3">
                                        <div class="img_Come_on mb20"></div>
                                        <div class="font_21 mb30 bold">스마트간편신규</div>
                                        <p class="font_16">직원에게 추천받으신 상품을<br/>간편하게 가입하세요</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 날씨 정보 출력 부분 -->
            <div id="news_Content" class="clear fl">
                <h3 class="hidden">날씨 정보</h3>
                <div id="main_news_Content_pd">
                    <div class="ALL_content_title3 clear">
                        <div class="news fl">날씨 정보</div>
                    </div>
                    <div class="mt25">
                        <div class="cicon"></div>
                        <div class="good_chance">투자의 기회가 될지도</div>
                        <div class="cDate"></div>
                        <div class="weather_Left">
                            <div class="ctemp">현재 온도 : </div>
                            <div class="clowtemp">최저 온도 : </div>
                        </div>
                        <div class="weather_Right">
                            <div class="chightemp">최고 온도 : </div>
                            <div class="humidity">현재 습도 : </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event_box_2 fl_right clear">
                <div class="main_Fund_pd">
                    <div class="ALL_content_title4 clear">
                        <div class="event_tab_Fund fl">펀드 소개</div>
                    </div>
                    <div class="event_tab_box clear">
                        <a href="#event_cont1" title="어린이주니어펀드" class="fl event_tab1 event_tab active_no" tabindex="138">어린이주니어펀드</a>
                        <a href="#event_cont2" title="샐러리맨펀드" class="fl event_tab2 event_tab" tabindex="139">샐러리맨펀드</a>
                        <a href="#event_cont3" title="시니어펀드" class="fl event_tab3 event_tab" tabindex="140">시니어펀드</a>
                    </div>
                    <div class="my_event_box clear">
                        <div id="event_cont1" class="event_cont clear">
                            <a href="#" target="_blank" title="우리스마트주식펀드 주니어펀드 혜택 이벤트 (1)" class="tab_box myfit_box fl clear" tabindex="141">
                                <div class="box_3_text_box clear">
                                    <p>
                                        <span class="box_3_category">주니어펀드</span>
                                        <span class="box_3_text">첫가입 무상 만원 지급 혜택!</span>
                                    </p>
                                    <p class="box_3_title">우리스마트주식펀드<br/>주니어펀드 혜택 이벤트</p>
                                </div>
                            </a>
                            <a href="#" target="_blank" title="우리스마트주식펀드 주니어펀드 혜택 이벤트 (2)" class="tab_box momoney_box fl clear" tabindex="142">
                                <div class="box_3_text_box clear">
                                    <p>
                                        <span class="box_3_category">주니어펀드 이벤트</span>
                                        <span class="box_3_text">천만원이상 투자시 무상 만원 지급 혜택!</span>
                                    </p>
                                    <p class="box_3_title">우리스마트주식펀드<br/>주니어펀드 혜택 이벤트</p>
                                </div>
                            </a>
                        </div>
                        <div id="event_cont2" class="event_cont event_cont2 clear">
                            <a href="#" target="_blank" title="우리스마트주식펀드 샐러리맨펀드 혜택 이벤트 (1)" class="tab_box mytime_box fl clear" tabindex="143">
                                <div class="box_3_text_box clear">
                                    <p>
                                        <span class="box_3_category">샐러리맨펀드</span>
                                        <span class="box_3_text">첫가입 무상 만원 지급 혜택!</span>
                                    </p>
                                    <p class="box_3_title">우리스마트주식펀드<br/>샐러리맨펀드 혜택 이벤트</p>
                                </div>
                            </a>
                            <a href="#" target="_blank" title="우리스마트주식펀드 샐러리맨펀드 혜택 이벤트 (2)" class="tab_box momobile_box fl clear" tabindex="144">
                                <div class="box_3_text_box clear">
                                    <p>
                                        <span class="box_3_category">샐러리맨펀드 이벤트</span>
                                        <span class="box_3_text">천만원이상 투자시 무상 만원 지급 혜택!</span>
                                    </p>
                                    <p class="box_3_title">우리스마트주식펀드<br/>샐러리맨펀드 혜택 이벤트</p>
                                </div>
                            </a>
                        </div>
                        <div id="event_cont3" class="event_cont event_cont3 clear">
                            <a href="#" target="_blank" title="우리스마트주식펀드 시니어펀드 혜택 이벤트 (1)" class="tab_box myrobot_box fl clear" tabindex="145">
                                <div class="box_3_text_box clear">
                                    <p>
                                        <span class="box_3_category">시니어펀드</span>
                                        <span class="box_3_text">첫가입 무상 만원 지급 혜택!</span>
                                    </p>
                                    <p class="box_3_title">우리스마트주식펀드<br/>시니어펀드 혜택 이벤트</p>
                                </div>
                            </a>
                            <a href="#" target="_blank" title="우리스마트주식펀드 시니어펀드 혜택 이벤트 (2)" class="tab_box moservice_box fl clear" tabindex="146">
                                <div class="box_3_text_box clear">
                                    <p>
                                        <span class="box_3_category">시니어펀드 이벤트</span>
                                        <span class="box_3_text">천만원이상 투자시 무상 만원 지급 혜택!</span>
                                    </p>
                                    <p class="box_3_title">우리스마트주식펀드<br/>시니어펀드 혜택 이벤트</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 날씨 정보에 맞게 홀드해주는 마우스 홀더 -->
            <div class="event_box_4 fl clear">
                <div class="slide_outer_box clear fl">
                    <a href="#none" title="펀드 추천드립" class="loan box_3_inner_2 slide_box fl" tabindex="147">
                        <p>
                            <span class="box_3_category">날씨 봐</span>
                            <span class="box_3_text">투자의 기회가 될지도</span>
                        </p>
                        <p class="box_3_title">당신에겐 안전한 펀드를 추천</p>
                    </a>
                    <a href="#none" title="펀드 추천드립" class="loan box_3_inner_2 slide_box2 fl" tabindex="148">
                        <span class="benefit_text benefit_title">당신에겐 안전한 펀드를 추천</span><br/>
                        <span class="benefit_text">어린이 주니어 펀드</span>
                        <span class="benefit_text">직장인 샐러리맨 펀드</span>
                        <span class="benefit_text">은퇴인 시니어 펀드</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- 박스 컨텐츠 3번째 영역 지정 -->
        <div id="event_box3">
            <div class="box_wrap cf">
                <div class="box1">
                    <div class="box1_limit fl">
                        <h3>금융권</h3>
                        <a href="#" tabindex="149"><img src="images/thumb.jpg" alt="임시이미지"/></a>
                        <p class="con_m">금융권 더보기</p>
                        <div class="box1_content">
                            <div class="box1_con1">
                                <a href="#" class="sub_img"><img src="images/thumb1.png" alt="임시이미지"/></a>
                                <p>우체국 유튜브를 소개합니다!</p>
                            </div>
                            <div class="box1_con2">
                                <a href="#" class="sub_img"><img src="images/thumb2.jpg" alt="임시이미지"/></a>
                                <p>하나은행 유튜브를 소개합니다!</p>
                            </div>
                            <div class="box1_con3">
                                <a href="#" class="sub_img"><img src="images/thumb3.jpg" alt="임시이미지"/></a>
                                <p>농협은행 유튜브를 소개합니다!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <div class="box2_limit">
                        <h3>펀드</h3>
                        <a href="#" tabindex="149"><img src="images/fund.jpg" alt="임시이미지"/></a>
                        <p class="con_m">펀드소개 더보기</p>
                        <div class="box2_content">
                            <div class="box2_con1">
                                <a href="#" class="sub_img"><img src="images/fund1.gif" alt="임시이미지"/></a>
                                <p>메리츠 펀드를 소개합니다!</p>
                            </div>
                            <div class="box2_con2">
                                <a href="#" class="sub_img"><img src="images/fund2.gif" alt="임시이미지"/></a>
                                <p>미래에셋 펀드를 소개합니다!</p>
                            </div>
                            <div class="box2_con3">
                                <a href="#" class="sub_img"><img src="images/fund3.gif" alt="임시이미지"/></a>
                                <p>이지스 펀드를 소개합니다!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box3">
                    <div class="box3_limit">
                        <h3>투자교실</h3>
                        <a href="#" tabindex="150"><img src="images/investment_class.jpg" alt="임시이미지"/></a>
                        <p class="con_m">투자교실 더보기</p>
                        <div class="box3_content">
                            <div class="box3_con1">
                                <a href="#" class="sub_img" tabindex="151"><img src="images/investment_class1.jpg" alt="임시이미지"/></a>
                                <p>라이프 스타일을 유지하십시오!</p>
                            </div>
                            <div class="box3_con2">
                                <a href="#" class="sub_img" tabindex="152"><img src="images/investment_class2.jpg" alt="임시이미지"/></a>
                                <p>돈으로부터 독립을 이룬자</p>
                            </div>
                            <div class="box3_con3">
                                <a href="#" class="sub_img" tabindex="153"><img src="images/investment_class3.jpg" alt="임시이미지"/></a>
                                <p>앞으론 노후설계가 중요합니다!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box4">
                    <div class="box4_limit">
                        <h3>지원금</h3>
                        <a href="#" tabindex="154"><img src="images/support_fund.jpg" alt="틱톡이미지1"/></a>
                        <p class="con_m">지원금 더보기</p>
                        <div class="box4_content">
                            <div class="box4_con1">
                                <a href="#" class="sub_img" tabindex="155"><img src="images/support_fund1.jpg" alt="임시이미지"/></a>
                                <p>1인당 10만원 재난지원금 대상</p>
                            </div>
                            <div class="box4_con2">
                                <a href="#" class="sub_img" tabindex="156"><img src="images/support_fund2.jpg" alt="임시이미지"/></a>
                                <p>한부모가정 지원금 대상</p>
                            </div>
                            <div class="box4_con3">
                                <a href="#" class="sub_img" tabindex="157"><img src="images/support_fund3.jpg" alt="임시이미지"/></a>
                                <p>소상공인 폐업지원금 대상</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 부분 작성 -->
        <div id="Styles_Specified" class="mb50 clear">
            <div class="Styles_Specified_content">
                <div class="new_content_fome">
                    <div class="new_content_fome_tit">
                        <h2 class="tit_news mt40 mb10" title="새소식">새소식</h2>
                        <a href="sub2/sub2.html" class="tit_news_more" title="더보기" tabindex="158"><img src="images/more_icon.gif" alt="더보기"/></a>
                    </div>
                    <div class="nw_news_list">
                        <dl>
                            <dt class="new_list" title="[채용] 2023년 상반기 우리은행 신입행원 채용 최종 합격자 발표"><a href="#no" tabindex="159">[채용] 2023년 상반기 우리은행 신입행원...</a></dt>
                            <dd>2023.06.28</dd>
                            <dt class="new_list" title="[공지] 모바일 · 인터넷뱅킹 타행이체 수수료, 타행자동이체 수수료 전액 면제 안내"><a href="#no" tabindex="160">[공지] 모바일 · 인터넷뱅킹 타행이체 수수...</a></dt>
                            <dd>2023.02.08</dd>
                            <dt class="new_list" title="[공지] 현금카드 잔돈적립 서비스 1회 한도 증액 안내"><a href="#no" tabindex="161">[공지] 현금카드 잔돈적립 서비스 1회 한도...</a></dt>
                            <dd>2023.06.30</dd>
                        </dl>
                    </div>
                </div>
                <div class="intro_event">
                    <div class="intro_event_tit">
                        <h2 class="tit_event mt40 mb10" title="이벤트">이벤트</h2>
                        <a href="sub3/sub3.html" class="tit_event_more" title="더보기" tabindex="162"><img src="images/more_icon.gif" alt="더보기"/></a>
                    </div>
                    <div class="intro_event_list">
                        <dl>
                            <dt><a href="#no" title="내용보기" tabindex="163">틴틴카드 사용하고 1만원 받자!</a></dt>
                            <dd class="hidden">설명1</dd>
                            <dt><a href="#no" title="내용보기" tabindex="164">우리은행 첫 적금 만들고 1만원 받으세요!</a></dt>
                            <dd class="hidden">설명2</dd>
                            <dt><a href="#no" title="내용보기" tabindex="165">직장인을 위한 특별한 혜택! 우리 직장인셀럽</a></dt>
                            <dd class="hidden">설명3</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 팝업 띄우기 -->
        <div class="modal">
            <div class="modal_up">
                <div class="uptitle">[채용] 2023년 상반기 우리은행 신입행원 채용 최종 합격자 발표</div>
                <div class="upbody">
                    2023년 상반기 우리은행 신입행원 채용에 지원해주신 여러분께 감사드립니다. <br/>
                    최종 합격 여부는 아래 결과확인 페이지에서 확인할 수 있습니다. <br/>
                    감사합니다. <br/>
                    <a href="index.html">[최종 합격 확인 바로가기]</a>
                </div>
                <button class="btn">닫기</button>
            </div>
        </div>
    </section>
    <div id="footer">





        <div id="All_Setting_Foot">
            <div class="content">
                <div class="footer_content">



                    <div class="footer_link_setting">
                        <div class="link_setting">
                            <div class="More_setting">
                                <dl class="Bottom_Menu_hover snn">
                                    <dt><a href="#" class="Bottom_Menu_Settings_trigger" title="대표 1588-5000" tabindex="166">대표 <strong>1588-5000</strong></a></dt>
                                    <dd class="hidden">하단메뉴</dd>
                                </dl>
                                <dl class="Bottom_Menu_hover ser">
                                    <dt><a href="#" class="Bottom_Menu_Settings_trigger" title="기타서비스" tabindex="167">기타서비스</a></dt>
                                    <dd class="hidden">하단메뉴</dd>
                                </dl>

                                <dl class="Bottom_Menu_hover language">
                                    <dt><a href="#" class="Bottom_Menu_Settings_trigger" title="LANGUAGE" tabindex="168">LANGUAGE</a></dt>
                                    <dd class="hidden">3</dd>
                                </dl>

                                <dl class="Bottom_Menu_hover family">
                                    <dt><a href="#" class="Bottom_Menu_Settings_trigger" title="패밀리사이트" tabindex="169">패밀리사이트</a></dt>
                                    <dd class="hidden">4</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="sns_link_setting">
                            <div class="Junior_Corn facebook"><a href="#" target="_blank" title="페이스북" tabindex="170"><img alt="페이스북으로 이동" src="images/sns_incon/icon_facebook_gray.png"></a></div>
                            <div class="Junior_Corn instagram"><a href="#" target="_blank" title="인스타그램" tabindex="171"><img alt="인스타그램으로 이동" src="images/sns_incon/icon_instagram_gray.png"></a></div>
                            <div class="Junior_Corn post_naver"><a href="#" target="_blank" title="네이버 포스트" tabindex="172"><img alt="네이버 포스트로 이동" src="images/sns_incon/icon_post_naver_gray.png"></a></div>
                            <div class="Junior_Corn youtube"><a href="#" target="_blank" title="유튜브" tabindex="173"><img alt="유튜브로 이동" src="images/sns_incon/icon_youtube_gray.png"></a></div>
                            <div class="Junior_Corn navertv"><a href="#" target="_blank" title="네이버TV" tabindex="174"><img alt="네이버TV로 이동" src="images/sns_incon/icon_navertv_gray.png"></a></div>
                        </div>
                    </div>
                    <div class="footer_bottom_setting clear">

                        <div class="Bottom_logo Bottom_Menu_hover">
                            <a href="index.html" class="Bottom_Menu_Settings_trigger" tabindex="175"><img alt="우리은행 로고" src="images/icon_woori.gif"/></a>
                        </div>
                        <div class="Sort_menu">
                            <div class="menu_info">
                                <address>
                                    <p class="menu_quick">
                                        <a href="#" title="은행소개" tabindex="176">은행소개</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" title="영업점안내" tabindex="177">영업점안내</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" title="고객굉장" tabindex="178">고객광장</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" class="bold" title="개인정보처리방침" tabindex="179">개인정보처리방침</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" class="bold" title="신용정보활용체제" tabindex="180">신용정보활용체제</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" title="개인신용정보관리보호" tabindex="181">개인신용정보관리보호 </a><br />
                                        <a href="#" title="사고신고" tabindex="182">사고신고</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" title="전자민원접수" tabindex="183">전자민원접수</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" title="보호금융상품등록부" tabindex="184">보호금융상품등록부</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" title="상품공시실" tabindex="185">상품공시실</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" title="보안센터" tabindex="186">보안센터</a>&nbsp;&nbsp;|&nbsp;
                                        <a href="#" title="웹접근성 이용안내" tabindex="187">웹접근성 이용안내</a>
                                    </p>
                                </address>
                                <address>
                                    <p class="copyright">COPYRIGHTS WOORI BANK. ALL RIGHTS RESERVED.</p>
                                </address>
                            </div>
                            <div class="Shortmark_Settings">
                                <div class="Bottom_Menu_hover Junior_Corn Junior_Corn_0 ml5">
                                    <a href="#none" target="_blank" title="마크2" class="Bottom_Menu_Settings_trigger" tabindex="188"><img alt="하단 마크" title="마크2" src="images/icon_kwacc_ib_2022.png" width="44" height="32"/></a>
                                </div>
                                <div class="Bottom_Menu_hover Junior_Corn Junior_Corn_3">
                                    <a href="#none" class="Bottom_Menu_Settings_trigger" title="마크1" tabindex="189"><img alt="마크1" src="images/mark_vcss1.gif" /></a>
                                </div>
                                <div class="Bottom_Menu_hover Junior_Corn Junior_Corn_1">
                                    <a href="#none" class="Bottom_Menu_Settings_trigger" title="마크3" tabindex="190"><img alt="마크3" src="images/icon_1_new.gif" /></a>
                                </div>
                                <div class="Bottom_Menu_hover Junior_Corn Junior_Corn_2">
                                    <a href="#none" class="Bottom_Menu_Settings_trigger" title="마크4" tabindex="191"><img alt="마크4" src="images/icon_20201215.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="top_btn">
    <div id="dark_btn">
        <button type="button" id="darkmode_btn">
            <span class="sound_only">다크 모드 보기</span>
            <img src="images/01-ON.png" alt="다크 모드 보기"/>
        </button>
        <button type="button" id="totop_btn">
            <span class="sound_only">상단으로</span>
            <img src="images/02-OFF.png" alt="상단으로">
        </button>
    </div>
</div>
</body>
</html>