html{overflow-y: scroll;}
*{margin: 0px; padding: 0px;}
ul, li{list-style: none;}
a{text-decoration: none;}
body{font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif;}

img{border: none;}

.fl{float: left;}
.fl_right{float: right;}
.clear:after{content: ''; display: block; clear: both;}
.cl{clear: both;}

/* 기본 레이아웃 */
#wrap{width: 1420px; margin: 0 auto;}
#header .header_top h1{float: left; font-size: 13px; padding: 17px 0 0; margin-right: 18px;}
#header .header_top div.form_fo{float: left; padding: 17px 0 0; margin-right: 6px;}
#header .header_top div.form_fo2{float: left; padding: 17px 0 0;}
.top .top_list li{float: left; padding: 35px 0 0;}
.top_list a{padding: 5px 18px 0;}
#header .header_area{margin-bottom: 13px;}
#header_top .top h1 a:first-child{margin-right: 21px;}

.mt12{margin-top: 12px;}
.mt40{margin-top: 40px;}
.mt25{margin-top: 25px;}
.font_24{font-size: 24px;}
.font_21{font-size: 21px;}
.font_16{font-size: 16px;}
.font_32{font-size: 32px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb50{margin-bottom: 50px;}
.mb75{margin-bottom: 75px;}

.bold{font-weight: bold;}
.hidden{visibility: hidden; text-indent: 55555px; font-size: 0; display: none;}
.none{display: none;}
legend{display: none;}

/* 툴팁 지정하기 */
.title_tool_tip{background-color:#fdfdfd; color: #333333; padding: 0px 8px; position:absolute; z-index:1000; border:1px solid #d8d8d8; border-radius:3px; font-size:15px; line-height:32px; height:32px; white-space:nowrap; overflow:hidden; display:none;}
.title_tool_tip:after{content: ""; display: block; float: left; background: url(../sub1/images/woori_s.png) no-repeat center center; width: 20px; height: 20px; margin-top: 6px; margin-right: 5px;}

/* 이미지 크기 저장 */
.main_logo img{width: 184px; height: 50px;}
.form_fo img{width: 115px; height: 50px; z-index: 10;}
.form_fo2 img{width: 115px; height: 50px; z-index: 10;}

/* 제이쿼리 팝업창 */
.popup_bg{position: fixed; height: 0; width: 1420px; left: 50%; margin-left: -700px; z-index: 1000; display: none;}
.popup{background-color: #fdfdfd; width: 474px; position: absolute; top: 59px; right: -94px; z-index: 800; line-height: 25px; padding: 20px; border: 3px solid #d4d4d4; font-size: 16px; display: none;}
.content_text_inner{text-align: center;}
.popup_title{color:#4e473f; margin-bottom: 25px; font-size:19px; text-align: center; font-weight:bold; padding: 0px 10px 20px; border-bottom:1px solid #ffcc00;}
.cont_text_inner{margin-bottom: 15px; background-color:#fff9e3; padding: 15px 10px; border: 1px solid #dcdcdc;}
.popup_list_outer>li{margin-bottom: 15px;}
.popup_list_outer>li>span{display: block; margin-bottom: 3px; text-align: center;}
.text_list>.popup_list{padding-left: 3px;}
.text_list>.popup_list:before{content:""; display: block; width: 3px; height: 3px; background-color: #baaa9d; margin-top: 11px; margin-right: 10px; float: left;}
.popup_sub{margin-top: 3px;}
.jquery_cookie{display: block; height: 22px; line-height: 22px; margin-right: 30px;  font-size: 16px; margin-top: 22px; cursor: pointer;}
.jquery_cookie>input{display: block; margin-top: 5px; margin-right: 5px; width: 15px; height: 15px; cursor: pointer;}
.close_btn {margin-top: 10px; display: block; background-color: #ffcf0f; padding: 8px 15px; border: none; border-radius: 2px; cursor: pointer;}

/* 날씨 정보 호버 작동 키워드 */
.newsBorder{border: 1px solid #e6e6e6; box-shadow: 0px 10px 20px 0px rgba(230, 230, 230, 1); border-radius: 15px 15px 15px 15px; height: 220px; width: 340px;}

/* 다크모드 버튼 */
#top_btn{position: fixed; bottom: 100px; left: -20px; width: 100%; z-index:999;}
#top_btn #dark_btn{width: 1420px; margin: 0 auto; position: relative;}
#dark_btn button{display: block; position: absolute; right: 1420px; margin: 15px 0; width: 45px; height: 45px; background: #feffff; border-radius: 45px; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); outline: none;}
#dark_btn #darkmode_btn{top: -60px;}
#dark_btn #darkmode_btn img{width: 100%;}

/* 서비스 영역 다크모드 영역지정 */
body.dark-mode{background-color: #333333; color: #ffffff; z-index: 2000;}

body.dark-mode #main_product_servuce_pd,
body.dark-mode .ALL_content_title2,
body.dark-mode .main_serv_one_line_more2,
body.dark-mode .more_text2 {
    background-color: #333333;
    color: #ffffff;
}

/* 날씨 정보 영역 다크모드 영역지정 */
body.dark-mode #news_Content,
body.dark-mode .ALL_content_title3 div.news,
body.dark-mode .good_chance,
body.dark-mode .cDate,
body.dark-mode .ctemp,
body.dark-mode .clowtemp,
body.dark-mode .chightemp,
body.dark-mode .pressure,
body.dark-mode .humidity {background-color: #333333; color: #ffffff;}

/* 금융상품 소개 영역 다크모드 영역지정 */
body.dark-mode #content_area,
body.dark-mode .ALL_content_title div.main_cent_one_pd,
body.dark-mode .main_serv_one_line_more,
body.dark-mode .more_text,
body.dark-mode .main_serv_image_line a span,
body.dark-mode #main_cent_pd {
    background-color: #333;
    color: #fff;
}

/* 점보트론 영역 다크모드 영역지정 */
body.dark-mode .main_slide_outer,
body.dark-mode .slider_text_imgage span {
    background-color: #333;
    color: #fff;
}

/* 상단 메뉴부분 다크모드 영역지정 */
body.dark-mode #mainNav,
body.dark-mode #Nav li a,
body.dark-mode .subNav1 li a,
body.dark-mode .subNav2 li a,
body.dark-mode .subNav3 li a,
body.dark-mode .subNav4 li a,
body.dark-mode .subNav5 li a {
    background-color: #333;
    color: #fff;
}

/* 펀드 소개부분 다크모드 영역지정 */
body.dark-mode .event_box_2,
body.dark-mode .ALL_content_title4 div.event_tab_Fund,
body.dark-mode .event_tab_box a,
body.dark-mode .my_event_box,
body.dark-mode .box_3_category,
body.dark-mode .box_3_text_box,
body.dark-mode .tab_box,
body.dark-mode .box_3_text,
body.dark-mode .box_3_title {
    background-color: #333;
    color: #fff;
}


/* 메뉴 전체보기 다크모드 영역지정 */
body.dark-mode .total_menu,
body.dark-mode .total_menu_inner,
body.dark-mode .total_menu_inner dl dt,
body.dark-mode .total_menu_inner dl dd ul li a {
    background-color: #333;
    color: #fff;
}


/* 상단배너 부분 다크모드 영역지정 */
body.dark-mode .top_hidden_menu,
body.dark-mode .util_menu input[type="text"] {
    background-color: #333;
    color: #fff;
}

/* 하단 윗단 부분 다크모드 영역지정 */
body.dark-mode #Styles_Specified,
body.dark-mode .new_content_fome_tit h2,
body.dark-mode .intro_event_tit h2,
body.dark-mode .nw_news_list dl dt a,
body.dark-mode .intro_event_list dl dt a {
    background-color: #333;
    color: #fff;
}

/* 푸터부분 다크모드 영역지정 */
body.dark-mode #footer,
body.dark-mode .content,
body.dark-mode .menu_quick a,
body.dark-mode .menu_info p {
    background-color: #333;
    color: #fff;
}