/* 상단에 이미지 배너 띄우기 */
.top_hidden_menu{width: 100%; margin: 0 auto; background: #e6e6e6;}
.hidden_menu{width: 1420px; margin: 0 auto; height: 40px; position: relative; padding:0 100px;}
.top_pop_btn{width:1420px; height:0; position:relative; top:0; margin:0 auto; padding:0 100px; }
.btn_popup{width:30px; height:30px;  transition:all .5s; position:absolute; z-index:15; background: url(../images/top_close.png) no-repeat center center; background-color: rgba(0,0,0,.5); top: -35px; right: 50px; cursor: pointer}
.btn_popup.open{background: url(../images/top_open.png) no-repeat center center;  background-color: #e6e6e6; cursor: pointer}

/* 상단에 기타 필요부분 집어넣기 */
.util_menu{position: absolute; top: 8px; right: 408px; left: 1049px;}
.util_menu dd{float: left; padding: 0 5px; overflow: visible;}
.util_menu li{float: left;}	
#sch_f{position: absolute; top: -5px; right: -255px;}
#keyword{border: 1px solid #dddddd; height: 27px; line-height: 27px; width: 223px; background: url(../images/sch_guide.gif) no-repeat; padding-left: 5px; background-color: #ffffff; border-radius: 5px;}
.sch_btn{position: absolute; top: 0px; right: 1px;}

/* 상단 메뉴 로그인 폼 속성들 */
.form_fo{position: relative; z-index: 1;}
	.form_fo a{position: relative; display: block; color: #008cdf;}
	.form_fo span{position: absolute; left: 45px; top: 16px; font-weight: bold; color: white; overflow: hidden;}
	.form_fo a:hover .menu{margin-bottom: 5px;}
	.form_fo:hover .menu{display:block; position:absolute; top:100%; left:0;}
	.form_fo .menu a.left{width: 53px; padding: 7.5px 8px 9.8px 8px; margin-top: 1.3px; float: left; border: none; background: transparent; text-align: center;}
	.form_fo .menu a.right{width: 47px; padding: 7.5px 8px 9.8px 8px; margin-top: 1.3px; float: left; border: none; background: transparent; text-align: center;}
	.menu{display:none; height:auto; width:auto; background:url(../images/login_Label.png) no-repeat left bottom; border-radius:5px; box-shadow:2px 2px 5px -4px rgba(0,0,0,0.6); overflow:hidden;}

/* 상단 메뉴 인증센터 속성들 */
.form_fo2{position: relative; z-index: 1;}
	.form_fo2 a{position: relative; display: block; color: #555555;}
	.form_fo2 span{position: absolute; left: 37px; top: 15px; font-weight: bold; color: white; overflow: hidden;}
	.form_fo2 a:hover .menu{margin-bottom: 5px;}
	.form_fo2:hover .menu{display:block; position:absolute; top:100%; left:0;}
	.form_fo2 .menu a.left{width: 53px; padding: 8.5px 8px 9.8px 8px; margin-top: 1.3px; float: left; border: none; background: transparent; text-align: center;}
	.form_fo2 .menu a.right{width: 47px; padding: 8.5px 8px 9.8px 8px; margin-top: 1.3px; float: left; border: none; background: transparent; text-align: center;}
	.menu{display: none; height: 46px; width: 134px; background: url(../images/login_Label.png) no-repeat; border-radius: 5px; box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.6); overflow: hidden; margin-left: -10px;}

/* 상단 메뉴부분 영역 지정하기 */
#mainNav{float: right; width: 970px; height: 40px; background: #ffffff; margin-top: 27px; position: relative; z-index: 1; top: 0; left: 0;}
	#total_Nav{width: 950px; height: 40px; position: absolute; left: 50%; margin-left: -470px;}
	#Nav{width: 950px; height: 40px; margin: 0 auto;}
	#Nav li{float: left; text-align: center; width: 90px;}
	#Nav li.On_01>a{border-left: 1px solid #eeeeee; box-sizing: border-box; width: 90px;}
	#Nav > li > a{font-size: 13px; color: #000000; font-weight: bold;}
	#Nav ul{position: relative; background-color: #ffffff; width: 90px; left: 0; line-height: 40px; height: 100px; display: none; text-align: center;}
	#Nav ul li{background-color: #ffffff; border-bottom: 1px solid #aaaaaa; padding: 5px 0;}
	#Nav>li:hover{background: #ffffff;}
	#Nav>li:hover ul{display: block;}
	#Nav>li>ul>li:hover{background-color: #e6e6e6;}
	#Nav>li>ul>li:hover a{color: #000000;}
	
/* 전체 메뉴 보기 버튼 만들기 */
.total_btn a{position: absolute; bottom: 15px; left: 806px; height: 35px; width: 158px;}
	.total_btn img{margin-top: 19px;}
	.total_menu{width: 555px; height: 405px; background: #ffffff; position: relative; top: 47px; left: 0%; display: none;}
	.total_menu_inner{width: 550px; height: 405px; background: #ffffff; position: absolute; top: -10px; margin-left:10px;}
	.total_menu dl{float: left; margin: 15px 0px;}
	.total_menu dt{font-size: 0px;}
	.total_menu dd{border-right: 1px solid #cccccc; width: 90px; height: 400px;}
	.total_menu li{line-height: 30px; text-align: center; border-bottom: 1px solid #aaaaaa;}
	.total_close{position: absolute; bottom: 15px; right: 110px;}
	.total_close a{background: #e4e4e4; display: block;}
	
/* 헤더 점보트론 부분 */
.slider_text_imgage a div span{display: none;}
	.main_slide_outer{width: 100%; height: 745px; background-color: #f3f8ff; overflow: hidden; min-width: 1420px;}
	.main_slide_bg{height: 745px; position: relative;}
	.slide_start{width: 100%; height: 745px; position: relative;}
	.img_slide{width: 100%; height: 745px; position:relative;}
	.slider_image{display:block; width: 1420px; height: 745px; position:absolute; top:0; left:50%; margin-left:-710px;}
	.slide_control_outer{position: relative; width: 1420px; margin: 0 auto;}
	.control_panel{position: absolute; top: 666px; left: 680px; height: 30px; overflow: hidden; z-index: 4;}
	.control_btns{margin-right: 25px;}
	.control_button{width:10px; height:10px; position:relative; cursor: pointer; background-color: #bbc4ca; margin-right:9px; border-radius:9px; margin-top:7px;}
	.control_button.active{background-color: #556b7a;}
	.control_button_first{width: 30px;} 
	.main_header_img_control_left_btn{width: 24px; height: 24px; background:url(../images/main_header_btn/slides_btn_next_new0924.png) no-repeat; margin-right: 8px; cursor: pointer;}
	.main_header_img_control_right_btn{width: 24px; height: 24px; background:url(../images/main_header_btn/slides_btn_previous_new0924.png) no-repeat; margin-right: 8px; cursor: pointer;}
	.main_header_img_play_btn{width: 24px; height: 24px; background:url(../images/main_header_btn/slides_btn_pause_new0919.png) no-repeat; cursor: pointer;}

/* 로그인창 구현 */
/* tnb */
.login_top{position:relative; width:1420px; margin:0 auto;}
#tnb {display: block; width: 1105px; height:110px; margin-bottom:10px; margin-top: 65px; margin-left: 315px;}
.tnb-login{padding: 10px 10px 5px; background: #f0f1f3; border: 1px solid #d6dee4;}
.tnb-login-on:after{display:block;visibility:hidden;clear:both;content:"";}
.tnb-login:after{display:block;visibility:hidden;clear:both;content:"";}

#ol_before fieldset {position: relative; width: 278px;height:78px; margin-bottom: 10px; padding-bottom: 10px;border-bottom: 1px dashed #d6dee4;}
#ol_id {display:inline;width:175px;height:28px;line-height:28px;padding:0 5px;border:1px solid #d6dee4;border-bottom:none;background:#fff;font-size:1.2em;color:#000000;}
.ol_idlabel {position:absolute;top:6px;left:5px;color:#333333;font-size:1.1em;}
#ol_pw {display:inline; width:175px; height:28px; line-height:28px; padding:0 5px; border:1px solid #d6dee4; background:#ffffff; vertical-align:top; font-size:1.2em; color:#000000;}
.ol_pwlabel {position:absolute; top:35px; left:5px; color:#333333; font-size:1.1em;}
#auto_login {}
#auto_login_label {letter-spacing:-0.1em;}
#ol_submit {position:absolute; right:0; top:0px; display:block; width:92px; height:59px; border:1px solid #d6dee4; background:#ffffff; color:#000; font-size:1.2em; font-weight:bold; vertical-align:top;}

.sound_only{display: none;}

#ol_auto {margin:5px 0 0;}
#ol_auto:after {display:block; visibility:hidden; clear:both; content:"";}
#ol_auto label {font-size:1.0em; letter-spacing:-0.1em; color:#777777;}
#ol_auto input {width:13px; height:13px;}

#ol_svc {position: absolute; right: 0; top: 64px;}
#ol_svc a {font-size: 1.0em; color: #777777; text-decoration: none; letter-spacing: -0.1em;}
#ol_svc a:hover {color: #ff4e8f;}
#ol_password_lost {display:inline; margin:0 0 0 5px;}

#tnb .login_content{position: relative; float: left;}
.login_content {width:490px; height: 115px; display: block; background: #f0f1f3; border: 1px solid #d6dee4;}
.login_anchor{width: 33%; height: 115px; position:relative; padding: 27px 0;}
.login_anchor {border-right:1px solid #e4e4e4; box-sizing:border-box; text-align:center; height: 115px;}
.login_anchor div img {width:50px; height:50px;}
.login_anchor>span{display: block; font-size:19px;}

.gray_color {color:#8a8f93;}

/* 중앙 팁 영역 지정하기 */
#mid_content_menu{width: 772px; font-family: '맑은 고딕', 'Malgu Gothic', 돋움, Dotum, sans-serif;}
#mid_content_menu{position: absolute; top: -38px;}

#mid_content_menu{background: #3a8dfd; margin: 0 auto; top: 830px; left: 50%; border-radius: 60px; overflow: hidden; left: 50%; margin-left: -382px; z-index: 99; box-shadow: 0px 2px 10px #808080;}
#mid_content_menu ul.menu_Specify_Zoning > li:first-child, #mid_content_menu ul.menu_Specify_Zoning > li:last-child{width: 170px;}

#mid_content_menu ul.menu_Specify_Zoning > li:first-child > a{height: 53px; padding: 12px 42px 12px 48px; color: #ffffff; font-size: 20px; font-weight: bold; line-height: 26px; background: #0082cd; width: 80px;}
#mid_content_menu ul.menu_Specify_Zoning > li > a{display: block;}
#mid_content_menu ul.menu_Specify_Zoning > li{height: 76px;}
#mid_content_menu ul.menu_Specify_Zoning > li{float: left; text-align: center; position: relative;}
#mid_content_menu ul.menu_Specify_Zoning > li:nth-child(2) > a, #mid_content_menu ul.menu_Specify_Zoning > li:nth-child(3) > a, #mid_content_menu ul.menu_Specify_Zoning > li:nth-child(4) > a{width: 46px; height: 28px; padding: 22px 49px 26px 49px; color: #ffffff; font-size: 22px; line-height: 28px; font-weight: bold;}

#mid_content_menu ul.menu_Specify_Zoning > li.Specify_Zoning_Q{background: #ffffff;}
#mid_content_menu ul.menu_Specify_Zoning > li:nth-child(5) > a{background: #ffffff; height: 28px; padding: 22px 55px 26px 27px; color: #000000; font-size: 22px; font-weight: bold; line-height: 28px; width: 88px;}
#mid_content_menu ul.menu_Specify_Zoning > li.Specify_Zoning_Q span.Q_botton{background: url(../images/btn_q_arrow20200618.png) no-repeat; width: 12px; height: 22px; position: absolute; left: 137px; top: 26px;}

#mid_content_menu ul.menu_Specify_Zoning > li > a:after{content: ''; display: block; position: absolute; top: 50%; right: 0; width: 1px;}

/* 금융소비자 보호 관련 영역지정하기 */
.add_menu_list{margin-top: -30px;}
.add_menu_list{width: 100%; text-align: center;}
.add_menu_list{margin: 0 auto; height: 93px; margin-top: 55px}
.add_menu_list ul.submenu{display: inline-block; text-align: center;}
.add_menu_list ul.submenu li{float: left;}
.add_menu_list ul.submenu li a{padding-top: 20px;}
.add_menu_list ul.submenu li a{font-size: 18px; font-weight: bold; color: #7f7f7f; padding: 10px 15px; letter-spacing: -0.5px;}

/* 금융상품 소개 영역 지정하기 */
#content_area {height: 285px; margin: 0 auto; position: relative;}
#content_area h3.hidden{display: none;}

#main_cent_pd {width: 915px; height: 260px; position: absolute; z-index: 1; background-color: #fdfdfd; overflow: hidden;}

.ALL_content_title{font-size: 27px; line-height:27px; color:#262626; padding-left:10px;}
.main_serv_one_line_more {font-size: 17px; line-height:22px; padding-top: 5px; margin-right:50px;}
.main_serv_one_line_back {font-size: 17px; line-height:22px; padding-top: 5px; margin-right:50px;}
.more_text {display: block;}
.main_img_outer{width: 1420px;}
.main_service_image_box{text-align: center; margin-top: 25px;}
.main_serv_image_line {padding-top: 10px;}
.main_serv_image_line>a{display: block; float: left;}
.main_serv_image_line>a:hover{background-color: #edf3fb;}

.main_service_image_box>a>span{text-align: center;}
.image_outer{padding: 0 35px; width: 43px; height: 35px; margin-bottom: 15px; position: relative;}
.main_serv_image{width: 74px; height: 74px; position: absolute; top: 0; left: 50%; margin-left: -37px;}

/* 펀드 혜택 기간까지 남은 시간 */
.dday_and_weather {margin: 0 auto; width: 1420px;}
#dday_contents_box {width:450px;}
.dday_content {margin-bottom: 10px; background:url(../images/event/dday_main.jpg) no-repeat -50px; background-color: #f6f7f3; margin-top: 25px;}
.dday_title_box {margin-right: 30px; text-align: center;}
.dday_title_box>span, .dday_content>img {display: block;}
.dday_bird_img {padding-right: 40px;}
.dday_sub_title {color:#e47516; font-size:25px; margin-bottom: 5px;}
.dday_sub{font-size: 18px; margin-bottom:15px;}
.dday_name {color:#e47516;}
.dday_title {color: #6e6156; font-size: 20px; margin-bottom: 25px;}
.dday_strong {color: #3579d4;}
.number_box {margin-left: 65px; background:url(../images/event/numbg.png) no-repeat 10px 5px; background-color:#1fdadf; border-radius: 5px; padding: 5px 10px;}
.number_box>div>img {height: 40px; width: 32px; display: block; float: right; margin-left: -1px;}
.day_box, .hour_box, .min_box {margin-right:8px;}
#countment{font-size: 17px; margin-right:20px; line-height:24px; height:24px;}
.dday_view {color: #3579d4; display: block; margin-top: 5px;}
.dday_view:after {content:""; display:block; float: right; background: url(../images/sp_ico_main.png) no-repeat -10px -400px; width: 15px; height: 15px; margin-top: 6px; margin-right: 7px;}
.unit_box>span {display: block; width: 60px; text-align: center; color: #757575;}
.day_text, .hour_text, .min_text {margin-right:8px;}
.unit_box>.day_text {width:90px;}

/* #서비스 영역 지정하기 */
.ALL_content_title2{font-size: 27px; line-height:27px; color:#262626; padding-left:10px;}
.main_serv_one_line_more2{font-size: 17px; line-height:22px; padding-top: 5px; margin-right:50px;}
.main_serv_one_line_back2{font-size: 17px; line-height:22px; padding-top: 5px; margin-right:50px;}
.more_text2{display: block;}

.stacked{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

#main_product_servuce_pd{width: 480px; height: 486px; position: absolute; z-index: 10; background-color: #ffffff; overflow: hidden;}

#product_service h3.hidden{display: none;}
#product_service{position: relative; width: 1420px; height: 540px; text-align: center; margin: 0 auto;}
#product_service ul li{float: left; width: 432px; padding: 0px 8px 0; margin-right: 20px; height: 431px; border: 1px solid #d8d8d8;}
#product_service ul li a{width: 100%;}
#product_service ul li .product_service1 img{width: 100%; height: 100%; overflow: hidden;}

#product_service ul li .product_service_menu1 .img_Come_on{background: url(../images/image_service_01.png) no-repeat 0 0; background-size: cover; width: 100%; height: 290px; overflow: hidden;}
#product_service ul li .product_service_menu2 .img_Come_on{background: url(../images/image_service_02.png) no-repeat 0 0; background-size: cover; width: 100%; height: 290px; overflow: hidden;}
#product_service ul li .product_service_menu3 .img_Come_on{background: url(../images/image_service_03.png) no-repeat 0 0; background-size: cover; width: 100%; height: 290px; overflow: hidden;}

/* 날씨 서비스 영역 지정하기 */
#news_Content{position: relative; width: 340px; height: 215px; margin-left: 482px; margin-bottom: 57px;}
	.ALL_content_title3 div.news{font-size: 27px; line-height:27px; color:#262626; padding-left:10px;}
	
	.good_chance{padding: 10px 0 10px 20px; font-size: 21px; font-weight: bold;}
	.cDate{padding-bottom: 10px;}
	.ctemp, .clowtemp, .chightemp, .pressure, .humidity{padding: 10px; font-size: 18px;}
	.cicon{float: left;}
	.cicon img{ height: 73px}
	.weather_Left, .weather_Right {float: left; width: 160px;}
	
/* 운세 좋은 날엔 투자 영역 지정하기 */
.event_box_4{height: 204px; margin-bottom: 25px; margin-right: 25px;}
.slide_outer_box{height: 204px;}
.box_3_inner_2{display: block; width: 280px; height:144px;}
.loan{padding: 30px;}
.loan{margin-left: 480px; background-color: #10abb0;}
.box_3_category{color: #e1e9ec; padding: 2px 5px; background-color:#5f698c; border-radius:2px;}
.box_3_text{font-size: 18px; color: #aadde1; line-height:25px;}
.box_3_title{margin-top: 15px; font-size: 21px; color: #fdfdfd;}
.click_arrow_image1{margin-top: 42px; margin-right: 5px;} 
.click_arrow_image2{margin-top: 11px; margin-right: 5px;} 
.slide_outer_box{position: relative; overflow: hidden;}
.slide_box2, .slide_box4{position: absolute; top: 204px; left:0;}
.slide_box2{background-color:#179397;}
.slide_box4{background-color:#3173a8;}
span.benefit_title{font-size:19px; color:#aadde1;}
.benefit_text{display: block; color: #fdfdfd; font-size: 17px; margin-bottom: 5px;}
.slide_box2>img.slide_arrow_edit, .slide_box4>img.slide_arrow_edit{margin-top: 3px;}

/* 탭메뉴 */
.ALL_content_title4 div.event_tab_Fund{font-size: 27px; line-height:27px; color:#262626; padding-left:10px;}
.event_box_2{width: 575px; position: relative;}
.event_tab{height: 44px; width: 142px; display: block; line-height: 44px; text-align:center; border:1px solid #dadada; border-bottom: none; font-size: 17px; margin-top: 25px;}
.active_no {position:relative; z-index: 9; border-bottom: none; background-color:#fdfdfd; color:#3dc0b7; font-weight:bold; cursor:default; border:1px solid #10abb0; border-bottom: none; }
.active_no:hover {text-decoration:none;}
.event_tab1 {margin-right:10px;}
.event_tab2 {margin-right: 10px;}
.my_event_box {border:1px solid #10abb0; top:95px; position:absolute; background-color:#fdfdfd; width: 458px; height: 380px;}
.event_cont {margin:20px; display: none;}
.event_cont2 {position:absolute; left:0; top:0; display: none;}
.event_cont3 {position:absolute; left:0; top:0; display: none;}
.myfit_box, .mytime_box, .myrobot_box {margin-right: 20px;}
.mymoney_box, .mymobile_box, .myservice_box {margin-right: 20px;}
.box_3_text_box {padding:20px 20px 30px; height:113px; width: 375px;}
.box_3_text_box .box_3_text {color:#10abb0;}
.box_3_text_box_first {padding:30px 40px;}
.box_3_text_box>.box_3_title, .box_3_text_box_first>.box_3_title {color:#262626; font-size:24px;}
.box_3_text_box_first .box_3_text{color:#a2dade}
.tab_box {border:1px solid #eeeeee; width:418px; box-sizing:border-box; margin-bottom: 10px;}
.tab_box:hover {background-color:#edf3fb;}

.event_control {padding: 17px 301px 0; color: #b2b3b7}
.lt_image {background: url(../images/sp_ico_main.png) no-repeat -570px -403px; width:8px; height:12px; margin:0 5px;}
.gt_image {background: url(../images/sp_ico_main.png) no-repeat -207px -403px; width:8px; height:12px; margin:0 5px;} 
.active_event_dot {width: 18px; height: 6px; margin: 4px 5px; border-radius: 3px; background-color: #b2b3b7;}
.event_dot {width: 6px; height: 6px; margin: 4px 5px; border-radius: 3px; background-color: #b2b3b7;}

/* 박스 컨텐츠 영역 지정 */
#event_box3{width: 1420px; height: 440px; box-sizing: border-box; margin: 0 auto; background: #efefef; margin-bottom: 80px; border-radius: 5px; padding-top: 9px; box-shadow: 1px 1px 7px #949494;}
	.box_wrap{width: 1380px; height: 400px; position: relative; overflow: hidden; background: #efefef; margin: 13px auto;}
	.box_wrap div > h3{text-align: center; font-size: 22px; font-weight: bold; width: 320px; height: 55px; line-height: 50px; background: #999999; color: #ffffff; margin-bottom: 15px;}
	.box_wrap > div > a{display: block; background-repeat: no-repeat; width: 320px; height: 238px; margin: 15px auto 10px;}
	.box_wrap div > a > img{width: 290px; height: 250px;}
	.box_wrap .sub_img>img{width: 290px; height: 300px;}
	.box_wrap div .con_m{width: 220px; height: 33px; text-align: center; line-height: 33px; font-size: 16px; border: 3px solid #555555; border-radius: 20px; color: #555555; font-weight: bold; margin: 0 auto; margin-top: 12px; box-shadow: 1px 1px 3px #949494; display: block;}
	.box_wrap .box1_limit .con_m{margin-top: 15px;}
	
	/* 컨텐츠 박스 첫번째 영역 */
	.box_wrap .box1{width: 320px; height: 390px; text-align: center; float: left; position: absolute; top: 0; left: 0; overflow: hidden; background: #ffffff; border-radius: 5px; border: 3px solid #999999;}
	.box_wrap .box1 .box1_limit{width: 320px; height: 390px; overflow: hidden; cursor: pointer}
	.box_wrap .box1 > .box1_limit > .box1_content{width: 1060px; height: 390px; float: left; position: absolute; left: 320px; top: 0; box-sizing: border-box; overflow: hidden; background: #ffffff;}
	.box_wrap .box1 > .box1_limit > .box1_content > div{width: 280px; float: left; padding: 15px 35px 30px 35px; border-right: 3px dotted #999999; margin-top: 11px;}
	.box_wrap .box1 > .box1_limit > .box1_content p{font-size: 18px; font-weight: bold; margin-top: 20px; color: #555555; letter-spacing: -1px;}
	
	/* 컨텐츠 박스 두번째 영역 */
	.box_wrap .box2{width: 320px; height: 390px; text-align: center; float: left; position: absolute; top: 0; left: 353px; overflow: hidden; background: #ffffff; border-radius: 5px; border: 3px solid #999999;}
	.box_wrap .box2 .box2_limit{width: 320px; height: 390px; overflow: hidden; cursor: pointer;}
	.box_wrap .box2 > .box2_limit > .box2_content{width: 1060px; height: 390px; float: left; position: absolute; left: 320px; top: 0; box-sizing: border-box; overflow: hidden; background: #ffffff;}
	.box_wrap .box2 > .box2_limit > .box2_content > div{width: 280px; float: left; padding: 10px 35px; border-right: 3px dotted #999999;}
	.box_wrap .box2 > .box2_limit > .box2_content p{font-size: 18px; font-weight: bold; margin-top: 20px; color: #555555; letter-spacing: -1px;}
	
	/* 컨텐츠 박스 세번째 영역 */
	.box_wrap .box3{width: 320px; height: 390px; text-align: center; float: right; position: absolute; top: 0; right: 353px; overflow: hidden; background: #ffffff; border-radius: 5px; border: 3px solid #999999;}
	.box_wrap .box3 .box3_limit{width: 320px; height: 390px; overflow: hidden; float: right; cursor: pointer}
	.box_wrap .box3 > .box3_limit > .box3_content{width: 1060px; height: 390px; float: right; position: absolute; right: 320px; top: 0; box-sizing: border-box; overflow: hidden; background: #ffffff;}
	.box_wrap .box3 > .box3_limit > .box3_content > div{width: 280px; float: left; padding: 10px 35px; border-left: 3px dotted #999999}
	.box_wrap .box3 > .box3_limit > .box3_content p{font-size: 18px; font-weight: bold; margin-top: 20px; color: #555555; letter-spacing: -1px;}
	
	/* 컨텐츠 박스 네번째 영역 */
	.box_wrap .box4{width: 320px; height: 390px; text-align: center; float: right; position: absolute; top: 0; right: 0px; overflow: hidden; background: #ffffff; border-radius: 5px; border: 3px solid #999999;}
	.box_wrap .box4 .box4_limit{width: 320px; height: 390px; overflow: hidden; float: right; cursor: pointer; border-left: 3px solid #999999;}
	.box_wrap .box4 > .box4_limit > .box4_content{width: 1060px; height: 390px; float: left; position: absolute; right: 323px; top: 0; box-sizing: border-box; overflow: hidden; background: #ffffff;}
	.box_wrap .box4 > .box4_limit > .box4_content > div{width: 280px; float: left; padding: 10px 35px; border-left: 3px dotted #999999}
	.box_wrap .box4 > .box4_limit > .box4_content p{font-size: 18px; font-weight: bold; margin-top: 20px; color: #555555; letter-spacing: -1px;}
	
	
/* 새소식 등 이벤트 메뉴 속성 * 영역 지정하기 */
#Styles_Specified{width: 100%; width: 1420px; height: 200px; box-sizing: border-box; margin: 0 auto; background: #efefef; margin-bottom: 80px; border-radius: 5px; padding-top: 9px; box-shadow: 1px 1px 7px #949494;}
#Styles_Specified .Styles_Specified_content{width: 1380px; height: 160px; position: relative; margin: 0 auto;}
#Styles_Specified .Styles_Specified_content .new_content_fome{margin-right: 20px;}
#Styles_Specified .Styles_Specified_content .new_content_fome{width: 670px; float: left; position: relative; border: 3px solid #999999; border-radius: 5px; overflow: hidden; top: 0; left: 0; text-align: center;}

#Styles_Specified .Styles_Specified_content .new_content_fome .new_content_fome_tit, #Styles_Specified .Styles_Specified_content .intro_event .intro_event_tit{height: 180px; width: 125px; display: inline; float: left;}

#Styles_Specified .Styles_Specified_content .tit_news_more img, #Styles_Specified .Styles_Specified_content .tit_event_more img{width: 70px; height: 30px; background: transparent;}

#Styles_Specified .Styles_Specified_content .new_content_fome .nw_news_list, #Styles_Specified .Styles_Specified_content .intro_event .intro_event_list{margin-top: 35px;}
#Styles_Specified .Styles_Specified_content dl dt{width: 465px; float: left;}
#Styles_Specified .Styles_Specified_content dl dt a{text-align: left; font-size: 22px; display: block; line-height: 40px; width: 465px; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;}
#Styles_Specified .Styles_Specified_content dl dt a:hover{text-decoration: underline; color: #0083cb;}
#Styles_Specified .Styles_Specified_content dl dd{text-align: right; display: block; float: right; margin-top: 6px;}

#Styles_Specified .Styles_Specified_content .intro_event{width: 660px; float: right; position: relative; border: 3px solid #999999; border-radius: 5px; overflow: hidden; top: 0; left: 0; text-align: center;}
#Styles_Specified .Styles_Specified_content .intro_event .intro_event_list dl{position: absolute; left: 120px; top: 35px;}

/* 푸터 부분 */
#footer{border-top: 2px solid #d4d4d4;}
#footer{width: 100%; background: url(../images/img_footBg.png) repeat-x; box-shadow: none;}
#footer{clear: both; width: 1420px; margin: 0 auto;}
#footer #All_Setting_Foot{border-top: 0 none; background: none;}
#All_Setting_Foot .content{padding-top: 0; padding-bottom: 75px; float: none; width: 100%; border-left: 0 none;}
#footer .footer_content{width: 1420px; margin: 0 auto;}
#footer .footer_content:after{display: block; clear: both; content: " ";}
#footer .link_setting .Bottom_Menu_hover{display: inline;}
#footer{width: 100%; margin: 0 auto; border-top: 2px solid #d4d4d4; text-align: center; background: url(../images/img_footBg.png) repeat-x; box-shadow: none;}

#All_Setting_Foot .footer_link_setting .link_setting{width: 100%; top: 12px; height: auto;}
#All_Setting_Foot .footer_link_setting .link_setting .More_setting{width: 100%; position: relative; float: left;}
#All_Setting_Foot .footer_link_setting .link_setting .snn{position: absolute; left: 180px; top: 10px;}
#All_Setting_Foot .footer_link_setting .link_setting .snn .Bottom_Menu_Settings_trigger{width: 122px; border-right: 1px solid #dddddd; padding-right: 80px; background-position: 135px center;}
#All_Setting_Foot .footer_link_setting .link_setting .More_setting .Bottom_Menu_Settings_trigger{display: block; background-image: url(../images/icon_more.png); background-repeat: no-repeat;}

#All_Setting_Foot .footer_link_setting .link_setting .ser{right: auto; left: 386px; top: 10px; position: absolute}
#All_Setting_Foot .footer_link_setting .link_setting .ser .Bottom_Menu_Settings_trigger{width: 80px; border-right: 1px solid #dddddd; padding-right: 92px; background-position: 92px center;}

#All_Setting_Foot .footer_link_setting .link_setting .language{right: auto; left: 556px; top: 8px; position: absolute;}
#All_Setting_Foot .footer_link_setting .link_setting .language .Bottom_Menu_Settings_trigger{width: 100px; border-right: 1px solid #dddddd; padding-right: 96px; background-position: 105px center;}

#All_Setting_Foot .footer_link_setting .link_setting .family{top: 9px; right: auto; left: 754px; position: absolute;}
#All_Setting_Foot .footer_link_setting .link_setting .family .Bottom_Menu_Settings_trigger{width: 105px; padding-right: 20px; background-position: 112px center;}

/* 기타 홈페이지들 속성들 */
#All_Setting_Foot .footer_link_setting{position: relative; width: 1420px; height: 40px;}
#All_Setting_Foot .footer_link_setting .sns_link_setting{position: absolute; right: 70px; top: 10px; width: 200px; height: 25px;}
#All_Setting_Foot .footer_link_setting .sns_link_setting .facebook{position: absolute; right: 173px; top: 0;}
#All_Setting_Foot .footer_link_setting .sns_link_setting .instagram{position: absolute; right: 130px; top: 0;}
#All_Setting_Foot .footer_link_setting .sns_link_setting .post_naver{position: absolute; right: 87px; top: 0;}
#All_Setting_Foot .footer_link_setting .sns_link_setting .youtube{position: absolute; right: 44px; top: 0;}
#All_Setting_Foot .footer_link_setting .sns_link_setting .navertv{position: absolute; right: 0px;; top: 0;}

/* 푸터 메뉴들 속성들 */
#All_Setting_Foot .Bottom_logo{margin-top: 10px;}
#footer .Bottom_logo{float: left; width: 130px; height: 30px;}
#footer .Bottom_logo img{padding: 50px 0 0 49px;}

#All_Setting_Foot .Sort_menu{border-left: 0 none; position: relative;}
#All_Setting_Foot .Sort_menu{width: 1420px;}
#All_Setting_Foot .Sort_menu .menu_info{text-align: left;}
#footer .content .menu_info{float: left;}
#footer .content .menu_info .menu_quick{margin-top: 25px;}
#footer .content .menu_info .menu_quick a{color: #7f7f7f; line-height: 20px; font-size: 16px;}
#footer .content .menu_info .menu_quick a:hover{color: #000000;}
#footer .content .menu_info .copyright{color: #7f7f7f; font-family: Arial; font-size: 15px;}
#All_Setting_Foot .Sort_menu .menu_info .menu_quick{color: #666666; font-size: 17px; letter-spacing: 0;}
#All_Setting_Foot .Sort_menu .menu_info .copyright{margin-top: 18px;}
#All_Setting_Foot .Sort_menu{border-left: 0 none; position: relative;}
#All_Setting_Foot .Sort_menu{width: 1170px;}
#All_Setting_Foot .Sort_menu{float: left; padding-left: 35px; margin-top: 25px;}
#All_Setting_Foot{border-top: 1px solid #e6e6e6; background: url(../images/bg.jpg) no-repeat center 0;}

.footer_bottom_setting .Shortmark_Settings .Junior_Corn{position: absolute; top: 18px;}
.footer_bottom_setting .Shortmark_Settings .Junior_Corn_0{right: 77px;}
.footer_bottom_setting .Shortmark_Settings .Junior_Corn_1{right: 28px;}
.footer_bottom_setting .Shortmark_Settings .Junior_Corn_2{right: -16px;}
.footer_bottom_setting .Shortmark_Settings .Junior_Corn_3{right: 140px;}

/* 팝업창 세팅 */
.modal{position: absolute; width: 100%; height: 100%; left: 0; top: 2130px; background: rgba(0,0,0,.6); z-index: 99999; display: none;}
.modal .modal_up{width: 500px; height: 300px; background: #ffffff; padding: 30px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.modal .modal_up .uptitle{font-size: 32px; text-align: center; color: #0066ab; padding-bottom: 30px;}
.modal .modal_up .upbody{line-height: 200%;}
.modal .modal_up .btn{margin-left: 400px; width: 80px; height: 40px; background: #dddddd; text-align: center; cursor: pointer; border: none;}